In [1]:
import requests
import json

# Set the API endpoint URL and parameters
url = 'https://randomuser.me/api'
params = {
    'results': 100,  # number of results to return
    'gender': 'male'  # filter by gender (male)
}

# Make the API request and get the response
response = requests.get(url, params=params)

# Parse the response JSON data
data = json.loads(response.text)

# Extract the user information from the JSON data
users = data['results']

# Loop through the users and print their information
for i, user in enumerate(users):
    name = f"{user['name']['title']} {user['name']['first']} {user['name']['last']}"
    email = user['email']
    phone = user['phone']
    print(f"{i+1}. {name}, email: {email}, phone: {phone}")

1. Mr Harry Li, email: harry.li@example.com, phone: (914)-782-0103
2. Mr Arkadiy Vikul, email: arkadiy.vikul@example.com, phone: (068) W87-4154
3. Mr Ryan Campbell, email: ryan.campbell@example.com, phone: I71 B26-1813
4. Monsieur Jakob Brunet, email: jakob.brunet@example.com, phone: 076 498 86 12
5. Mr Oskari Waisanen, email: oskari.waisanen@example.com, phone: 08-857-361
6. Mr Bill Lampe, email: bill.lampe@example.com, phone: (092) 3113049
7. Mr Nassim Ouwerkerk, email: nassim.ouwerkerk@example.com, phone: (0269) 832912
8. Mr علی سهيلي راد, email: aaly.shylyrd@example.com, phone: 051-84422612
9. Mr Eren Aclan, email: eren.aclan@example.com, phone: (643)-737-9419
10. Mr Marcus Christensen, email: marcus.christensen@example.com, phone: 22649345
11. Mr Nathaniel Grant, email: nathaniel.grant@example.com, phone: 015242 44171
12. Mr Božo Cvetković, email: bozo.cvetkovic@example.com, phone: 026-3121-955
13. Mr Nick Sanchez, email: nick.sanchez@example.com, phone: 0171 491 1516
14. Mr Rasmus Mortensen, email: rasmus.mortensen@example.com, phone: 41347267
15. Mr Jobbe Kuis, email: jobbe.kuis@example.com, phone: (0770) 990193
16. Mr Wilson Moraes, email: wilson.moraes@example.com, phone: (71) 4311-3376
17. Mr Flynn Hall, email: flynn.hall@example.com, phone: (971)-299-8523
18. Mr Gene Banks, email: gene.banks@example.com, phone: 05-7754-4286
19. Mr Coşkun Polat, email: coskun.polat@example.com, phone: (160)-564-4390
20. Mr Sava Jevtić, email: sava.jevtic@example.com, phone: 036-3121-914
21. Mr Zvenigor Shtanko, email: zvenigor.shtanko@example.com, phone: (068) G10-5959
22. Mr Lidório Viana, email: lidorio.viana@example.com, phone: (86) 3457-8314
23. Mr Stephen Stenzel, email: stephen.stenzel@example.com, phone: 0174-3647728
24. Mr Jeremy Jones, email: jeremy.jones@example.com, phone: L38 F56-8886
25. Mr David Taylor, email: david.taylor@example.com, phone: (390)-607-8395
26. Mr Austin Clarke, email: austin.clarke@example.com, phone: (027)-663-8033
27. Mr Kay-Uwe Brettschneider, email: kay-uwe.brettschneider@example.com, phone: 0467-7634457
28. Mr Peremil Kolesnikiv, email: peremil.kolesnikiv@example.com, phone: (067) D56-2189
29. Mr Ewen Moulin, email: ewen.moulin@example.com, phone: 02-05-81-37-51
30. Mr Eduardo Hunt, email: eduardo.hunt@example.com, phone: 015395 86050
31. Mr Gilberto Colón, email: gilberto.colon@example.com, phone: (677) 259 5234
32. Mr Miljan Peković, email: miljan.pekovic@example.com, phone: 030-8961-461
33. Mr Kent Jones, email: kent.jones@example.com, phone: 04-2025-3505
34. Mr Charles Jackson, email: charles.jackson@example.com, phone: (401)-428-3234
35. Mr Louis Hall, email: louis.hall@example.com, phone: (418)-159-5623
36. Mr Nils Schwanke, email: nils.schwanke@example.com, phone: 0680-3720234
37. Mr Malik Pelletier, email: malik.pelletier@example.com, phone: S70 E81-5687
38. Monsieur Jean-Marie Lambert, email: jean-marie.lambert@example.com, phone: 078 424 93 64
39. Mr Aćim Drljača, email: acim.drljaca@example.com, phone: 026-9574-827
40. Mr Benjamin Jean-Baptiste, email: benjamin.jean-baptiste@example.com, phone: L21 U16-7842
41. Monsieur Mike Mathieu, email: mike.mathieu@example.com, phone: 079 528 38 94
42. Mr Aymeric Morin, email: aymeric.morin@example.com, phone: 01-85-39-58-81
43. Mr Devansh Fernandes, email: devansh.fernandes@example.com, phone: 8165274899
44. Mr Peetu Kivi, email: peetu.kivi@example.com, phone: 02-711-762
45. Mr Vincent Hicks, email: vincent.hicks@example.com, phone: 04-6425-8326
46. Mr Elói da Costa, email: eloi.dacosta@example.com, phone: (80) 6057-8095
47. Mr Umang Chiplunkar, email: umang.chiplunkar@example.com, phone: 7143277854
48. Monsieur John Schmitt, email: john.schmitt@example.com, phone: 075 794 64 52
49. Mr Daniel Walker, email: daniel.walker@example.com, phone: (656)-787-6590
50. Mr Christophe Heering, email: christophe.heering@example.com, phone: (0014) 791918
51. Mr Anthony Bélanger, email: anthony.belanger@example.com, phone: I52 A56-1554
52. Mr Pedro Valladares, email: pedro.valladares@example.com, phone: (679) 474 0280
53. Mr محمدعلی علیزاده, email: mhmdaaly.aalyzdh@example.com, phone: 077-82739036
54. Mr Garnoslav Yudenko, email: garnoslav.yudenko@example.com, phone: (098) K75-3596
55. Mr Joaquin Rubio, email: joaquin.rubio@example.com, phone: 951-544-182
56. Mr Leonardo Archuleta, email: leonardo.archuleta@example.com, phone: (692) 338 0246
57. Mr Matthew Wade, email: matthew.wade@example.com, phone: 013873 91773
58. Mr Malik Iqbal, email: malik.iqbal@example.com, phone: 60571563
59. Mr Nelson Wilson, email: nelson.wilson@example.com, phone: 031-439-6731
60. Mr Milomir Pantelić, email: milomir.pantelic@example.com, phone: 038-1052-143
61. Mr Aldo Zapata, email: aldo.zapata@example.com, phone: (680) 040 5649
62. Mr Ljubiša Abramović, email: ljubisa.abramovic@example.com, phone: 028-1324-643
63. Mr Hugh Franklin, email: hugh.franklin@example.com, phone: 02-0340-3132
64. Mr Isabel Gamez, email: isabel.gamez@example.com, phone: (613) 425 2003
65. Mr Macit Koç, email: macit.koc@example.com, phone: (383)-234-7168
66. Mr Victor Chan, email: victor.chan@example.com, phone: T61 F43-7617
67. Mr Slobodan Bakić, email: slobodan.bakic@example.com, phone: 011-0246-422
68. Mr Tinius Bakke, email: tinius.bakke@example.com, phone: 85011777
69. Mr Peetu Korpela, email: peetu.korpela@example.com, phone: 08-691-167
70. Mr Aiden Park, email: aiden.park@example.com, phone: I43 J42-8872
71. Mr Vilmer Eltvik, email: vilmer.eltvik@example.com, phone: 62804423
72. Mr Champak Jain, email: champak.jain@example.com, phone: 9041186375
73. Mr Marius Noel, email: marius.noel@example.com, phone: 01-88-64-63-75
74. Mr Erik Boye, email: erik.boye@example.com, phone: 30631598
75. Mr Brent Snyder, email: brent.snyder@example.com, phone: (584) 285-8555
76. Mr Orinder Saha, email: orinder.saha@example.com, phone: 9483197993
77. Mr Leo Crawford, email: leo.crawford@example.com, phone: (788) 438-1131
78. Mr Gustomisl Danish, email: gustomisl.danish@example.com, phone: (099) P45-5611
79. Mr Nooa Ollila, email: nooa.ollila@example.com, phone: 02-558-291
80. Mr Tristan Thomsen, email: tristan.thomsen@example.com, phone: 23567395
81. Mr Alexandre Bélanger, email: alexandre.belanger@example.com, phone: L55 S99-5099
82. Mr Edgar Fernandez, email: edgar.fernandez@example.com, phone: 03-65-31-07-87
83. Mr Rayan Robert, email: rayan.robert@example.com, phone: 01-41-54-49-55
84. Mr Alexandre Ouellet, email: alexandre.ouellet@example.com, phone: H64 F72-3214
85. Mr Jerome Reyes, email: jerome.reyes@example.com, phone: 013873 22428
86. Mr Dobrovist Konoplya, email: dobrovist.konoplya@example.com, phone: (096) N72-3197
87. Mr Curtis Matthews, email: curtis.matthews@example.com, phone: 028 6046 8440
88. Mr Önal Sarıoğlu, email: onal.sarioglu@example.com, phone: (652)-834-9348
89. Mr Tanmay Hiremath, email: tanmay.hiremath@example.com, phone: 9207251920
90. Mr Jagdish Patil, email: jagdish.patil@example.com, phone: 9592045877
91. Mr Jonathan Shaw, email: jonathan.shaw@example.com, phone: 08-4540-0697
92. Mr Alen Wijnhoven, email: alen.wijnhoven@example.com, phone: (0583) 102242
93. Mr Roland Davis, email: roland.davis@example.com, phone: 041-977-0085
94. Mr Youness Ramdin, email: youness.ramdin@example.com, phone: (003) 6221459
95. Mr Alberico Ribeiro, email: alberico.ribeiro@example.com, phone: (28) 2062-5459
96. Mr Kemal Knabe, email: kemal.knabe@example.com, phone: 0301-3515337
97. Mr Porfirio Ordóñez, email: porfirio.ordonez@example.com, phone: (615) 881 0639
98. Mr علی سالاری, email: aaly.slry@example.com, phone: 007-33521289
99. Mr Leonardo Ureña, email: leonardo.urena@example.com, phone: (610) 296 3470
100. Mr ماهان جعفری, email: mhn.jaafry@example.com, phone: 080-21578007

In [3]:
# Importing pandas
import pandas as pd

# Creating a DataFrame from the users list
pd.DataFrame(users)

,gender,name,location,email,login,dob,registered,phone,cell,id,picture,nat
0,male,"{'title': 'Mr', 'first': 'Harry', 'last': 'Li'}","{'street': {'number': 3138, 'name': 'Stafford ...",harry.li@example.com,{'uuid': '775d54e6-a27b-4198-93ab-c67f37be4011...,"{'date': '1989-12-29T05:58:59.059Z', 'age': 33}","{'date': '2010-01-14T10:06:28.213Z', 'age': 13}",(914)-782-0103,(939)-015-5040,"{'name': '', 'value': None}",{'large': 'https://randomuser.me/api/portraits...,NZ
1,male,"{'title': 'Mr', 'first': 'Arkadiy', 'last': 'V...","{'street': {'number': 236, 'name': 'Artemivska...",arkadiy.vikul@example.com,{'uuid': '4e028816-0f02-4f00-a669-e1d57ca5de92...,"{'date': '1952-04-01T07:00:31.527Z', 'age': 70}","{'date': '2003-08-27T17:32:10.465Z', 'age': 19}",(068) W87-4154,(098) Z02-9251,"{'name': '', 'value': None}",{'large': 'https://randomuser.me/api/portraits...,UA
2,male,"{'title': 'Mr', 'first': 'Ryan', 'last': 'Camp...","{'street': {'number': 4358, 'name': 'Argyle St...",ryan.campbell@example.com,{'uuid': '4ddc7386-bf03-4f48-91c2-66221a5d3a24...,"{'date': '1965-04-02T14:31:40.335Z', 'age': 57}","{'date': '2021-07-16T13:34:56.895Z', 'age': 1}",I71 B26-1813,I84 U20-3724,"{'name': 'SIN', 'value': '239780794'}",{'large': 'https://randomuser.me/api/portraits...,CA
3,male,"{'title': 'Monsieur', 'first': 'Jakob', 'last'...","{'street': {'number': 6061, 'name': 'Rue Paste...",jakob.brunet@example.com,{'uuid': 'bd8d5f95-b203-492d-945d-7c414c460815...,"{'date': '1989-09-25T13:52:34.835Z', 'age': 33}","{'date': '2015-06-08T09:13:28.272Z', 'age': 7}",076 498 86 12,078 487 80 80,"{'name': 'AVS', 'value': '756.9641.4125.38'}",{'large': 'https://randomuser.me/api/portraits...,CH
4,male,"{'title': 'Mr', 'first': 'Oskari', 'last': 'Wa...","{'street': {'number': 1350, 'name': 'Pirkankat...",oskari.waisanen@example.com,{'uuid': '337b720c-601d-4de1-9f34-a7ede9fb67b2...,"{'date': '1974-08-03T00:49:24.952Z', 'age': 48}","{'date': '2018-08-03T05:15:56.839Z', 'age': 4}",08-857-361,040-705-87-70,"{'name': 'HETU', 'value': 'NaNNA325undefined'}",{'large': 'https://randomuser.me/api/portraits...,FI
...,...,...,...,...,...,...,...,...,...,...,...,...
95,male,"{'title': 'Mr', 'first': 'Kemal', 'last': 'Kna...","{'street': {'number': 9715, 'name': 'Schillers...",kemal.knabe@example.com,{'uuid': 'b9a27433-4232-47f2-9298-ae2f3b4d545b...,"{'date': '1964-08-29T09:52:28.757Z', 'age': 58}","{'date': '2014-11-19T13:56:28.082Z', 'age': 8}",0301-3515337,0174-5430711,"{'name': 'SVNR', 'value': '08 290864 K 058'}",{'large': 'https://randomuser.me/api/portraits...,DE
96,male,"{'title': 'Mr', 'first': 'Porfirio', 'last': '...","{'street': {'number': 4241, 'name': 'Circuito ...",porfirio.ordonez@example.com,{'uuid': '9e223584-09a2-4896-8ebc-0970e17881cf...,"{'date': '1997-12-20T07:30:59.610Z', 'age': 25}","{'date': '2019-07-23T17:02:39.406Z', 'age': 3}",(615) 881 0639,(641) 915 1854,"{'name': 'NSS', 'value': '91 98 96 2816 5'}",{'large': 'https://randomuser.me/api/portraits...,MX
97,male,"{'title': 'Mr', 'first': 'علی', 'last': 'سالاری'}","{'street': {'number': 7275, 'name': 'هویزه'}, ...",aaly.slry@example.com,{'uuid': '40aa8a3a-ce33-40be-9af0-0063f54ca509...,"{'date': '1961-02-27T17:35:29.549Z', 'age': 61}","{'date': '2005-11-28T23:37:12.518Z', 'age': 17}",007-33521289,0998-334-2267,"{'name': '', 'value': None}",{'large': 'https://randomuser.me/api/portraits...,IR
98,male,"{'title': 'Mr', 'first': 'Leonardo', 'last': '...","{'street': {'number': 4823, 'name': 'Calzada M...",leonardo.urena@example.com,{'uuid': '7c704e12-993a-4df6-9285-0247f7c09c76...,"{'date': '1962-08-15T18:03:54.311Z', 'age': 60}","{'date': '2020-01-11T07:59:04.868Z', 'age': 3}",(610) 296 3470,(628) 975 0385,"{'name': 'NSS', 'value': '78 94 43 9583 6'}",{'large': 'https://randomuser.me/api/portraits...,MX
99,male,"{'title': 'Mr', 'first': 'ماهان', 'last': 'جعف...","{'street': {'number': 1344, 'name': 'شهید سرتی...",mhn.jaafry@example.com,{'uuid': '40624d9b-24e8-45ef-943c-cd3c5e05a8d0...,"{'date': '1989-04-24T14:49:59.367Z', 'age': 33}","{'date': '2020-12-02T22:34:12.722Z', 'age': 2}",080-21578007,0944-887-0469,"{'name': '', 'value': None}",{'large': 'https://randomuser.me/api/portraits...,IR

In [5]:
# Cleaning up name column

TypeError: list indices must be integers or slices, not str